# Dependencies
node_modules
/dist

# Environment variables
.env
.env.test

# Prisma generated client (if you chose custom output)
/generated/prisma

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS Files
.DS_Store
Thumbs.db

# NestJS / TypeScript
tsconfig.tsbuildinfo
